body {
  font-family: 'Recursive', sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: .0625em;
  margin: 3.2rem 0 1.6rem 0;
}

a:before, a:after {
  position: absolute;
  bottom: -4px;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #cf0303;
  transition: .5s;
}

.hero {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 2rem 5rem; */
  margin: 0 auto;
}

.hero_snaps {
  width: 400px;
  text-align: center;
  font-family: 'Fira Mono',monospace;
}
.hero_snaps h1 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.hero_snaps h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 2.4rem;
}
.hero_snaps ul {
  list-style: none;
  margin: 3rem 0 1rem 0;
  padding: 0;
}
.hero_snaps ul li {
  display: inline-block;
  position: relative;
}
.hero_text {
  width: 500px;
}
.hero_text div + div {
  margin-top: 2rem;
}



/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */
